*{
    padding:0px;
    margin:0px;
    outline:0 none; 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    user-select: none;
}
html,body{
    font-size:12px;
    color:#333; 
    /* background: #edf1f7;  */
    font-family: 'Microsoft Yahei';
}
ul,ol,li,i,em,cite,u,b,h1,h2,h3,h4,h5,h6{
    list-style:none;
    font-style: normal;
    text-decoration:none;
    font-weight: normal;
}
a,img{
    border:0 none;
    text-decoration:none;
    -ms-interpolation-mode: bicubic;
    text-decoration:none !important; 
    outline:0 none;
}
a{
    color:#333;
    -moz-transition: all 0.4s ease-out; 
    -webkit-transition: all 0.4s ease-out; 
    -o-transition: all 0.4s ease-out; 
    transition: all 0.4s ease-out; 
    cursor:pointer; 
    background: transparent;
}
table,tr,td,th,thead,tfoot,tbody{
    border-collapse:collapse;
    border-spacing:0;
    background-color: #fff;
}
button, input, select, textarea,form{ 
    outline:0 none; 
    font-size:12px;
    color:#333; 
    overflow:visible; 
    outline:0 none; 
    background-color: #FFF;
    font-family: 'Microsoft Yahei';
}
p{
    word-wrap:break-word
}
.clear{
    clear:both;
    overflow:hidden;
    zoom:1;
}
.fl{
    float:left
}
.fr{
    float:right
}
.mui-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.mui-ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
/* 美化进度条 */
.srcollGrobal::-webkit-scrollbar-track{
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: white;
}
.srcollGrobal::-webkit-scrollbar{
    width: 5px;
    background-color:white;
}
.srcollGrobal::-webkit-scrollbar-thumb{
    background-color: #cccccc;
}

/* 动画---左右晃动 */
@keyframes shake-horizontal{
    2%{transform:translate(-5px, 0) rotate(0)}
    10%{transform:translate(-7px, 0) rotate(0)}
    20%{transform:translate(-7px, 0) rotate(0)}
    30%{transform:translate(6px, 0) rotate(0)}
    40%{transform:translate(3px, 0) rotate(0)}
    50%{transform:translate(-8px, 0) rotate(0)}
    60%{transform:translate(3px, 0) rotate(0)}
    70%{transform:translate(-5px, 0) rotate(0)}
    80%{transform:translate(8px, 0) rotate(0)}
    90%{transform:translate(-1px, 0) rotate(0)}
    100%{transform:translate(0, 0) rotate(0)}
}
.animationRock{
    animation-name: shake-horizontal;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

/* 可拖动 */
.dragRegion{
    -webkit-app-region: drag;
}

/* 开发专用 */
/* .devDragRegion{
    -webkit-app-region: drag;
} */

/* 超出省略号 */
.ellipsis {
    white-space:nowrap;/*规定段落中的文本不进行换行*/
    overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
    text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
}

/* 窗口阴影 */
.elewin-box-shadow{
    box-shadow: 0px 0px 3px #21675A inset;
}
